$gallery-image-width: 200px;
$gallery-image-height: 300px;
$gallery-image-offset: 300px;
$gallery-image-spacing: 50px;
$gallery-item-vertical-margin: 120px;
.view-white{
	background-color: rgba(255,255,255,0.7);
}

.image-gallery{
	margin: auto;
	width: 100%;
	max-width: 700px;
	padding-left: $gallery-image-width;
	padding-right: $gallery-image-width;
}

.gallery-list{
	position: relative;
}

.gallery-item{
	position: relative;
	vertical-align: top;
	width: 100%;
	margin-top: $gallery-item-vertical-margin;
	margin-bottom: $gallery-item-vertical-margin;
	opacity: 0.8;
	text-align: left;
	@extend .animate;

	.gallery-item-content{
		padding-left: $gallery-image-spacing;
	}

	.gallery-item-image{
		position: absolute;
		left: -$gallery-image-width;
		top: 50%;
		margin-top: -$gallery-image-height / 2;
		width: $gallery-image-width;
		height: $gallery-image-height;
		transition-property: initial;
	}

	.item-title{
		position: relative;
		font-weight: 200;
		text-transform: uppercase;
		padding-bottom: $grid-gutter-width;

		&:after{
			box-sizing: content-box;
			content: "";
			position: absolute;
			top: 100%;
			left:  0;
			width: 50%;
			margin-left: -$gallery-image-spacing + $grid-gutter-width;

			height: 1px;
			background-color: black;
		}
	}

	&:hover{
		opacity: 1;
		.gallery-item-image{
			box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
		}
	}

	&:nth-child(even){
		text-align: right;

		.gallery-item-content{
			padding-left: 0;
			padding-right: $gallery-image-spacing;
		}

		.gallery-item-image{
			left:auto;
			right: -$gallery-image-width;
		}

		.item-title:after{
			left:auto;
			right: 0;
			margin-right: -$gallery-image-spacing + $grid-gutter-width;
		}
	}

	// &:nth-child(even){
	// 	text-align: right;
	// 	padding-left: 0;
	// 	padding-right: $gallery-image-offset;

	// 	.gallery-item-content{
	// 		padding-left: 0;
	// 		// padding-right: 100px + $gallery-image-width;
	// 	}

	// 	.gallery-item-image{
	// 		left:auto;
	// 		right: 0;
	// 	}

	// 	.item-title:after{
	// 		left:auto;
	// 		right: 0;
	// 		margin-right: -$gallery-image-width/2;
	// 	}
	// }
}

.tags-list{
	padding: 5px;
	white-space: normal;

	.tag{
		float:left;
		padding: 5px;
		margin: 5px;
		font-size: 0.8rem;
		text-transform: uppercase;
		background-color: #eee;
	}
}