<div class="view" scroll-y name="curriculum-vitae" image-loader="'assets/bg-blur-color.jpg'">
	<div class="col-xs-12 page-wrapper">

		<section class="page-title text-center">
			<h2 class="page-title-header text-uppercase">Portfolio</h2>
		</section>

		<section class="image-gallery col-xs-12">

			<div class="gallery-item col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="(imageIndex, image) in portfolio.gallery track by imageIndex">

				<div class="gallery-item-image" image-loader="::image.thumbnail">
				</div>

				<div class="gallery-item-text">
					<h4 class="item-title" ng-bind="::image.title"></h4>
					<p class="item-description"
						ng-repeat="(paragraphIndex, paragraph) in ::image.description track by paragraphIndex"
						ng-bind="::paragraph"></p>
				</div>
			</div>
		</section>

	</div>
</div>